:root {
  --globalBg: #0a0d10;
  --globalBgLight: #fff;
  --secondGlobalBg: #252b30;
  --secondGlobalBgLight: #e3e7eaa1;
  --fontColorDark: #fff;
  --fontColorLight: #0a0d10;
  --fontColorAdvantages:#425561;
  --fontColorAdvantagesHover: #0082fb;
  --gradientColorAdvantagesHover:#0082fb52;
  --fieldGradient: rgba(19, 128, 206, 0.21);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  padding: 2px;
  background-color: var(--globalBg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondGlobalBg);
}

body {
  max-width: 1920px;
  padding-top: 10px;
  margin: 0 auto;
  width: calc(100vw - 10px);
  background-color: var(--globalBg);
  height: 1000px;
}

.fonts-light {
  color: #0a0d10;
}

.wrapper {
  width: 61.5%;
  margin: 0 auto;
}

.title,
.subtitle,
.link,
.text {
  color: var(--fontColorDark);
}

.subtitle {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 110%;
}

.text {
  font-weight: 500;
  font-size: 0.8rem;
}

.btn {
  width: 84px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 17px 0 rgba(0, 130, 251, 0.46);
  border: none;
  background: #0082fb;
  cursor: pointer;
}
.btn-big {
  width: 312px;
}
.btn-middle {
  width: 213px;
}

.header {
  max-width: 1920px;
  width: calc(100vw - 10px);
  position: fixed;
  z-index: 99;
}

.menu {
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--secondGlobalBg);
}
.menu__logo {
  background-color: var(--secondGlobalBg);
  cursor: pointer;
}

.nav > ul {
  display: flex;
  gap: 20px;
}

.nav a {
  font-size: 0.8rem;
  font-weight: 500;
}

.nav a:hover {
  color: var(--fontColorAdvantagesHover);
}

.office {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.themes,
.lang {
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}

.themes {
  background: #fff;
}

.themes > label,
.lang > label {
  width: 100%;
  height: 100%;
}

.themes__check,
.lang__check {
  display: none;
}

.themes__img,
.lang__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.main {
  background-image: url(../img/pages/global/Start__pic.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
  padding-top: 131px;
  padding-bottom: 137px;
}
.main__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 110%;
}
.main__text {
  margin-bottom: 40px;
}

.field {
  width: 40.5%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-image: radial-gradient(circle, rgba(19, 128, 206, 0.21) 0%, #0a0d10 75%);
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  -o-transform: translateX(-10%);
}

.content {
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}

.proposal {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.proposal__item {
  width: 50%;
  padding: 40px;
  border: none;
  background-color: var(--secondGlobalBg);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
}
.proposal__text {
  width: 60%;
}
.proposal__subtitle {
  margin-bottom: 40px;
}
.proposal__text {
  font-size: 1rem;
  margin-bottom: 66px;
}
.proposal__item:nth-child(1) {
  background-image: url(../img/pages/global/material.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.proposal__item:nth-child(2) {
  background-image: url(../img/pages/global/cloud.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.why {
  text-align: center;
  padding-top: 80px;
}
.why__title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 110%;
  margin-bottom: 40px;
}

.advantages {
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.advantages__item {
  width: 20%;
  max-width: 160px;
  padding: 48px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  backdrop-filter: blur(25px);
  background-color: var(--secondGlobalBg);
}
.advantages__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  color: var(--fontColorAdvantages);
}

.advantages__item:hover .advantages__text {
  color: var(--fontColorAdvantagesHover);
  transition: 700ms linear;
  -webkit-transition: 700ms linear;
  -moz-transition: 700ms linear;
  -ms-transition: 700ms linear;
  -o-transition: 700ms linear;
}

.advantages__item:hover {
  background: linear-gradient(180deg, var(--gradientColorAdvantagesHover) 0%, var(--secondGlobalBg) 26%, var(--secondGlobalBg) 100%);
  transition: 700ms;
  -webkit-transition: 700ms;
  -moz-transition: 700ms;
  -ms-transition: 700ms;
  -o-transition: 700ms;
}

.advantages__item:hover svg path {
  fill: var(--fontColorAdvantagesHover);
  transition: 1500ms linear;
  -webkit-transition: 1500ms linear;
  -moz-transition: 1500ms linear;
  -ms-transition: 1500ms linear;
  -o-transition: 1500ms linear;
}

.specifications {
  width: 100%;
  padding: 40px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(225deg, rgba(12, 25, 34, 0.9) 0%, rgba(13, 20, 25, 0.9) 53.37%, rgba(12, 25, 34, 0.9) 100%);
  border: none;
  backdrop-filter: blur(25px);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.specifications__declaration {
  width: 50%;
}
.specifications__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 110%;
  margin-bottom: 20px;
}
.specifications__text {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.characteristic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.characteristic__item {
  width: 33.3%;
}
.characteristic__title {
  margin: 24px 0 10px;
  font-weight: 500;
  font-size: 1rem;
}
.characteristic__text {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--fontColorAdvantages);
}/*# sourceMappingURL=main.css.map */