$globalBg: #0a0d10;
$secondGlobalBg: #0d1419;
$fontColorWhite: #fff;
$secondGlobalBgLight: #e3e7eaa1;
$fieldGradient: rgba(19, 128, 206, 0.21);

:root {
--globalBg: #0a0d10;
--globalBgLight: #fff;
--secondGlobalBg: #252b30;
--secondGlobalBgLight: #e3e7eaa1;
--fontColorDark: #fff;
--fontColorLight: #0a0d10;
--fieldGradient: rgba(19, 128, 206, 0.21);
}