.header {
    max-width: 1920px;
    width: calc(100vw - 10px);
    position: fixed;
    z-index: 99;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__logo {
        // height: 1005px;
        cursor: pointer;
    }
}